
.form-btn{
    margin-right: 30px;
}
.atags{
	color: #FFFFFF;
    text-decoration: none;

}
.label-font{
	font-size: 14px;
}

.label-font-bold{
	font-weight: bold;
	font-size: 14px;
}

.label-font-header{
	font-weight: bolder;
	font-size: 16px;
}

.btn-text{
	font-weight: bold;
	font-size: 14px;
}

.card-design{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid orange;
}
.tab-active{
	background-color: #022fbf;
	color: white;

}

/*.btn-toggle.active {
  background-color: #076E5D;
  color: white;
}*/
.btn-toggle.active#ho {
  background-color: #076E5D; /* Green for Head Office */
  color: white;
}

.btn-toggle.active#bo {
  background-color: #FFC107; /* Yellow for Branch Office */
  color: white;
}
.btn-toggle.active#cl {
  background-color: #0DCAF0; /* Yellow for Branch Office */
  color: black;
}
.bg-card{
  background-color: #229E82;
}
.form-label{
	font-size: 13px;
	font-weight: bold;
}
.label-bold{
	font-weight: bolder;
	font-size: 15px;
	color: #229E82;
}

.label-bold2{
	font-weight: bolder;
	font-size: 15px;
	color: #229E82;
}
.form-control{
	border: 1px solid #d3d3d3 !important;
	padding: 7px;
	
}
.form-control:focus {
  border-color: #229E82 !important; /* green border */
  box-shadow: 0 0 5px rgba(34, 158, 130, 0.5); /* subtle glow */
  outline: none; /* removes default blue glow in some browsers */
  background-color: #E8F0FE  ;
}
input::placeholder {
  color: #d3d3d3;
  opacity: 0.5;
  font-size: 12px;
}
.settings-bg{
	background-color: #34CFAC;
}

.form-control-design{
	background: #FAFAFA;
	border-top: 2px solid #229E82 !important;
	border-right: 1px solid #229E82 !important;
	border-bottom: 5px solid #229E82 !important;
	border-left:4px solid #d3d3d3 !important;
	
}

.form-control-design2{
	background: #FAFAFA;
	border-top: 2px solid #FFC107 !important;
	border-right: 1px solid #FFC107 !important;
	border-bottom: 5px solid #FFC107 !important;
	border-left:3px solid #d3d3d3 !important;
	
}
.form-control-design2:focus {
  border-top: 2px solid #FFC107 !important;
  border-right: 1px solid #FFC107 !important;
  border-bottom: 5px solid #FFC107 !important;
  border-left: 3px solid #d3d3d3 !important;
  background-color: #FFF8E1;
  box-shadow: 0 0 5px rgba(255, 193, 7, 0.5);
  outline: none;
}

.form-control-design3{
  background: #FAFAFA;
  border-top: 2px solid #0DCAF0 !important;
  border-right: 1px solid #0DCAF0 !important;
  border-bottom: 5px solid #0DCAF0 !important;
  border-left:3px solid #0DCAF0 !important;
  
}

select.form-control-design {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  padding-right: 2rem; /* space for arrow */
}

.select2-container--default .select2-selection--single {
  border: 1px solid #d3d3d3 !important;
  padding: 7px !important;
  height: auto !important;
  border-radius: 0;
  display: flex;
  align-items: center;
  background-color: white; /* optional */
  margin-left: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  color: #212529;
  line-height: 1.5;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  right: 10px;
  margin-top: 10px;
}

.card2{
	border-radius: 10px;
	border-top: 1px solid green; 
	border-bottom: 5px solid green; 
	border-left: 1px solid green; 
	border-right: 1px solid green; 

}

.cardcl2{
  border-radius: 10px;
  border-top: 2px solid #A7A8AA; 
  border-bottom: 5px solid #0DCAF0; 
  border-left: 2px solid #A7A8AA; 
  border-right: 2px solid #A7A8AA; 

}

.bg-card-header{
   background-color: #076E5D;
}
.bg-card-branch{
   background-color: #FFF;
}

.bg-card-header-branch{
   background-color: #E8B006;
}
.bg-card-header-doc{
   background-color: #0DCAF0;

}

.card-row1-bg{
	background-color: #088672;
	color: #fff;
	border-radius: 10px;
	border-top: 1px solid green; 
	border-bottom: 5px solid #055C4E; 
	border-left: 1px solid green; 
	border-right: 1px solid green;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.card-row2-bg{
	background-color: #fff;
    border-radius: 10px;
	shape-outside: border-box;
}

/*cehcklist css*/

.pagelayout {
    margin: 5px;
    padding: 5px;
    background-color: #fff;

 }
.contentmain{
  margin: 20px 20px 10px 20px;
  padding: 5px;
  border: 1px solid black;
}
.headertext{
	text-align: center;
	font-size: 22px;
}
.text-error{
	font-size: 12px;
	color: red;
}
.text-table{
	font-size: 13px;	
}
.text-table-head{
	font-size: 12px;	
}

.twocol-table {
  width: 100%;
  border-collapse: collapse;
 
}
.td-noborder{
	border-top: none !important;
	border-bottom: none !important;

}

.twocol-table td, .twocol-table th {
  border: 1px solid black;
  padding: 3px;
  vertical-align: top;
}

.twocol-table-nopadding {
  width: 100%;
  border-collapse: collapse; 
}

.twocol-table-nopadding td, .twocol-table-nopadding th {
  border: 1px solid black;
  padding: 4px;
  vertical-align: top;
}

.twocol-table-boxes {
  width: 100%;
  border-collapse: collapse; 
}

.twocol-table-boxes td, .twocol-table-boxes th {
  border: 1px solid black;
  padding: 12px;
  vertical-align: top;
}

 .twocol-table-noborder {
  width: 100%;
  border-collapse: collapse; 
}

.twocol-table-noborder td, .twocol-table-noborder th {
 
  padding: 4px;
  vertical-align: top;
}

.col-50 {
  width: 50%;
}
.col-30 {
  width: 30%;
}
.col-70 {
  width: 70%;
}
.col-20 {
  width: 20%;
}
.col-10 {
  width: 10%;
}
.col-40 {
  width: 40%;
}
.col-60 {
  width: 60%;
}
.col-7 {
  width: 7%;
}

.col-65 {
  width: 64%;
}
.col-52 {
  width: 53%;
}
.col-92 {
  width: 93%;
}
.col-32 {
  width: 32%;
}
.label-font-bold{
	font-size: 15px;
	font-weight: bold;
}
.label-decoration{
	display: inline-block;
	font-size: 15px;
	width: 280px;
	border-bottom: 2px solid black; 
}
.date-decoration{
	display: inline-block;
	font-size: 15px;
	width: 30px;
	border: none;
    border-bottom: 1px solid #000;
}
.year-decoration{
	display: inline-block;
	font-size: 15px;
	width: 85px;
	border: none;
    border-bottom: 1px solid #000;
}

.custid-decoration{
	display: inline-block;
	font-size: 15px;
	width: 250px;
	border-bottom: 2px solid black; 
}
.desease-decoration{
	display: inline-block;
	font-size: 15px;
	width: 200px;
	border-bottom: 2px solid black; 
}
.table-head-font{
	font-size: 14px;
	font-weight: bold;
}
.table-font{
	font-size: 12px;
}
.no-padding{
	display: inline-block;
	border-bottom: 1px solid black;
}
.lableslno{
	text-align: center;
	vertical-align: middle;
}
.td-bg{
   background-color: #E6E6E6;
}
.td-bg2{
   background-color: #F2F2F2;
}
.margintop{
	margin-top: 10px;
}
.mandate-text{
  font-weight: bold;
  font-size: 12px;
}
.text-rotate{
	transform: rotate(-90deg);
}
.checkboxbig{
	margin-top: 5px;
	width: 20px;
	height: 20px;
}
.tdchecklist{
	text-align: center;

}
.fullwidth{
	width: 100%;
}


/*checklist css*/

.checkbox-readonly {
    pointer-events: none;
    opacity: 0.6; /* Make it look disabled */
    cursor: not-allowed;
}

.tablescrollable{
	overflow-x: auto;
}
.accordion-button[aria-expanded="true"] {
    background-color: #FFC107; /* light blue */
    color: #000; /* optional: change text color */
  }


.floating-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.floating-buttons button {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 18px;
    border: none;
    background-color: #229E82;
    color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.floating-buttons button:hover {
    background-color: #1b846c;
}  

 #previewContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 20px;
    }

    .preview-box {
       flex: 0 0 auto;
      width: 250px;
      
      text-align: center;
      padding: 10px;
      position: relative;
      box-sizing: border-box;
    }

    .remove-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        background: red;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        z-index: 1;
    }

    .pdf-icon {
      width: 80px;
      height: 80px;
      display: block;
      margin: auto;
    }

    .file-name {
        font-weight: bold;
        margin-bottom: 8px;
        color: #333;
    }

    iframe {
        width: 100%;
        height: 200px;
        border: 1px solid #aaa;
    }

    @media (max-width: 768px) {
        .preview-box {
            flex: 1 1 100%; /* Stack on small screens */
        }
    }
  .pdflogo{
     height: 60px;
     width: 50px;
  }

  .maxline2 {
    display: inline-block;
    max-width: 100%; /* or a specific value like 200px */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .maxwidth{
    width: 200px;
  }
  
  .preview-box.marked-for-delete {
    opacity: 0.5;
    pointer-events: none;
    position: relative;
}

.preview-box.marked-for-delete::after {
    content: 'Marked for Deletion';
    position: absolute;
    top: 5px;
    left: 5px;
    background: red;
    color: white;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 3px;
}
.bg-import-error{
  background-color: #FABFBF;
}
